@media all and (max-width:1199px) and (min-width:760px){
    .tab_wrap {
        /* height: 1920px; */
        position: relative;
    }
    .tab_bg {
        width: 100%;
        height: 100vh;
        background: #000000;
        position: fixed;
        top: 0;
        left: 0;
    }
    .left_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100vh;
        background: url(../img/m_img/bg_left.png) no-repeat center/cover;
    }
    .right_bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background: url(../img/m_img/bg_right.png) no-repeat center/cover;
    }
    .tab_content {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .tab_cont {
        overflow: hidden;
        transition-duration: 0.5s;
    }


    /* 추가클래스 */
    .hide {
        display: none;
    }

    /* 메인 */
    .tab_power_box {
        width: 30%;
        height: 30vw;
        background: #99CCCC;
        box-shadow: 0 0 10px #99CCCC;
        margin: 0 auto;
        padding: 10px;
    }
    .tab_power_img {
        width: 100%;
        height: 20%;
        border-radius: 20px;
        background: #01fcfc;
        box-shadow: 0 0 10px #01fcfc;
        text-align: center;
        line-height: 6;
        font-size: 5VW;
        font-weight: 900;
    }
    .tab_wave_power_under {
        height: 20vw;
    }
    .icon_under_line {
        height: 15vw;
    }
    .tab_con_in {
        position: relative;
        top: 0;
        left: 50%;
        width: 0;
        height: 45vw;
        transform-style: preserve-3d;
        perspective: 10000px;
        transition-duration: 0.5s;
    }
    .con_img {
        width: 45vw;
        height: 45vw;
        background: #CCFF66;
        box-shadow: 0 0 10px #CCFF66;
        position: absolute;
        top: 0;
        left: -22.5vw;
    }
    .tab_img_3 {
        opacity: 1;
    }
    .tab_img_6 {
        opacity: 1;
    }
    .tab_img_1 {
        transform: rotateY(0) translate3d(0,0,22.5vw); 
    }
    .tab_img_2 {
        transform: rotateY(90deg) translate3d(0,0,22.5vw);
    }
    .tab_img_3 {
        transform: rotateY(180deg) translate3d(0,0,22.5vw);
    }
    .tab_img_4 {
        transform: rotateY(270deg) translate3d(0,0,22.5vw);
    }
    .tab_img_5 {
        transform: rotateX(90deg) translate3d(0,0,22.5vw);
    }
    .tab_img_6 {
        transform: rotateX(270deg) translate3d(0,0,22.5vw);
    }
    .tab_con_1>.tab_img_1 {
        background: url(../img/m_img/new_profile_icon.png) no-repeat center/cover;
    }
    .tab_con_2>.tab_img_1 {
        background: url(../img/m_img/new_work_icon.png) no-repeat center/cover;
    }
    .tab_con_3>.tab_img_1 {
        background: url(../img/m_img/new_contact_icon.png) no-repeat center/cover;
    }
    .tab_con_1>.tab_img_6 {
        background: #CCFF66;
    }
    .main_under_line {
        height: 25vw;
    }
    .con_img {
        font-size: 10vw;
        font-weight: 900;
        color: #ffffff;
        text-shadow: 2px 2px 2px #333333;
        text-align: center;
        line-height: 45vw;
    }

    .tab_con_1 {
        animation: move_box 10s 2s linear infinite;
    }
    .tab_con_2 {
        animation: move_box 10s 5s linear infinite;
    }
    .tab_con_3 {
        animation: move_box 10s 8s linear infinite;
    }

    .tab_img_2,.tab_img_4 {
        opacity: 0.9;
    }
    .tab_con_1>.tab_img_1 {
        background: url(../img/m_img/new_profile_icon.png) no-repeat center/cover;
    }
    .tab_con_2>.tab_img_1 {
        background: url(../img/m_img/new_work_icon.png) no-repeat center/cover;
    }
    .tab_con_3>.tab_img_1 {
        background: url(../img/m_img/new_contact_icon.png) no-repeat center/cover;
    }
    
    
    @keyframes move_box {
        from {
            transform: rotateX(0) rotateY(0) rotateZ(0);
        }
        to {
            transform: rotateX(0) rotateY(-360deg) rotateZ(0);
        }
    }

   

    /* 프로필 */
    .tab_p_photo {
        width: 50%;
        position: relative;
        overflow: hidden;
        top: 0;
        left: 50%;
        margin-left: -25%;
        border-radius: 50%;
        margin-bottom: 100px;
    }
    .tab_p_text {
        text-align: center;
        position: relative;
    }
    .p_text {
        width: 100%;
        height: calc(100% / 5);
        margin-bottom: 100px;
        font-size: 4vw;
        position: absolute;
        /* left: 0; */
        overflow: hidden;
    }
    .text_1 {
        top: 0;
    }
    .text_2 {
        top: 25%;
    }
    .text_3 {
        top: 50%;
    }
    .text_4 {
        top: 75%;
    }
    .p_text>h2 {
        margin-bottom: 30px;
    }
    .p_text>span {
        display: block;
    }
    .text_4 {
        margin-bottom: 50px;
    }
    .text_4>span {
        width: 80%;
        margin: 0 auto;
    }
    .profile_under_line {
        height: 25vw;
    }
    

    
    


    /* 작품 */
    .cont_3 {
        width: 80%;
        margin: 0 auto;
    }
    .cont_3 a {
        font-size: 4vw;
    }
    .con_3_title {
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
    }
    .con_3_title>a {
        display: block;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        padding: 7px 10px ;
        border-radius: 20px;
    }
    .cont_3_in_line {
        height: 20vw;
    }
    .work_bottom_line {
        height: 31vw;
        margin-bottom: 100px;
    }.tab_cont_info {
        font-size: 3.8vw;
        text-align: center;
        margin-bottom: 70px;
    }

    /* 컨택 */
    .cont_4 a,.qr {
        display: block;
        width: 35%;
        margin: 0 auto;
    }
    .cont_4 {
        margin-bottom: 170px;
    }
    .tab_copy {
        text-align: center;
        font-size: 3vw;
        margin-bottom: 30px;
    }
    


    /* 메뉴 */
    .tab_menu {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 10vw;
        height: 10vw;
    }
    .tab_menu_bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        cursor: pointer;
    }
    .light_text {
        position: absolute;
        width: 6vw;
        height: 6vw;
        top: 2vw;
        left: 2vw;
        border-radius: 50%;
        background: #a9fd00;
        box-shadow: 0 0 50px #a9fd00;
        color: #000000;
        font-size: 2.2vw;
        font-weight: 700;
        text-align: center;
        line-height: 2.3;
    }
    .tab_menu_bg img {
        animation: round 10s linear infinite;
    }
    .click_change {
        position: absolute;
        width: 6vw;
        height: 4vw;
        top: 3vw;
        left: 2vw;
        border-radius: 50%;
        background: #a9fd00;
        box-shadow: 0 0 50px #a9fd00;
        z-index: 9999;
    }
    .top_s {
        top: 0;
    }
    .bottom_s {
        bottom: 0;
    }
    .click_change span {
        position: absolute;
        display: block;
        width: 6vw;
        height: 0.5vw;
        background: #333333;
        border-radius: 20px;
    }

    @keyframes round {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .tab_menu_in {
        display: none;
        position: fixed;
        top: 12vw;
        left: 0;
        width: 100%;
        height: 88vh;
        background: #a9fd00da;
        padding-top: 30%;
        box-sizing: border-box;
    }
    .tab_menu_in a {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 15vw;
        line-height: 15vw;
        font-size: 10vw;
        font-weight: 900;
        color: #ffffff;
        text-shadow: 2px 2px 2px #333333;
        text-align: center;
        border-top: 1px solid #000000;
    }
    .tab_menu_in a:last-child {
        border-bottom: 1px solid #000000;
    }
    
    
    

}