@media all and (min-width:1200px){
    .wrap {
        overflow: hidden;
    }
    .inner {
        width: 70%;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
        background: white;
    }
    .left_flo {
        float: left;
    }

/* 헤더 */
    .main_header {
        position: relative;
        z-index: 99999;
    }
    .main_logo {
        width: 100%;
        height: 65%;
        padding: 10px 0;
        border-bottom: 1px solid #b4b4b4;
        box-sizing: border-box;
    }
    .main_logo>a {
        display: block;
        width: 13%;
        height: 100%;
        margin: 0 auto;
    }
    .main_logo img {
        object-fit: contain;
    }
    .header_inner {
        width: 70%;
        height: 35%;
        margin: 0 auto;
        position: relative;
        z-index: 9999999;
    }
    .menu_wrap {
        height: 100%;
    }
    .main_menu {
        height: 100%;
        display: flex;
    }
    .top_menu {
        width: 25%;
        height: 100%;
    }
    .top_menu>a {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        height: 100%;
        font-size: 1vw;
        /* line-height: 2; */
        font-weight: 700;
    }
    .top_1:hover >a {
        background: #eeba00;
        color: #ffffff;
    }
    .top_2:hover >a {
        background: #459e38;
        color: #ffffff;
    }
    .top_3:hover >a {
        background: #246aa7;
        color: #ffffff;
    }
    .top_4:hover >a {
        background: #585656;
        color: #ffffff;
    }
    .sub_menu {
        display: none;
        height: 400px;
        background: #ffffff;
    }
    .bottom_menu>a {
        display: block;
        font-size: 0.8vw;
        font-weight: 500;
        padding: 10px;
        padding-left: 15%;
        box-sizing: border-box;
    }
    .bottom_menu:hover >a {
        font-weight: 700;
    }
    .bottom_menu:hover >a::before {
        content: " • ";
    }

    /* 배너 */
    .banner {
        width: 100%;
        position: relative;
        margin-bottom: 100px;
    }
    .slide {
        position: relative;
        height: 100%;
    }
    .img_box {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    .baro_go {
        width: 300px;
        position: absolute;
        top: 30%;
        left: calc(50% - 150px);
        z-index: 99;
        background: #ffffff;
        border-radius: 20px;
        padding: 20px 10px;
        text-align: center;
        transition: 0.2s;
    }
    .baro_go:hover {
        background-color: #333333;
    }
    .baro_go:hover >a {
        color: #ffffff;
    }


    /* 컨텐츠시작 */
    .content {
        overflow:hidden ;
    }
    .line {
        width: 1px;
        height: 100%;
        background: rgb(206, 206, 206);
    }
    
    /* 버튼관련 */
    .but {
        cursor: pointer;
    }
    .left_but,.right_but {
        width: 15%;
    }
    .plus_but {
        width: 30%;
    }
    .but img {
        object-fit: contain;
    }
    .plus_but>a {
        display: block;
    }
    .plus_but img {
        transition: 0.5s;
        
    }
    .plus_but:hover img {
        transform: rotateZ(180deg);
    }
    .cont_but {
        width: 30%;
        height: 100%;
        float: right;
        display: flex;
        justify-content: right;
    }
    .arrow_but {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    .arrow_but img {
        vertical-align: middle;
    }
    .text_box {
        width: 50%;
        font-weight: 700;
    }
    .left_but_wrap{
        width: 20%;
    }
    .left_arrow {
        width: 60%;
    }
    .right_but_wrap {
        /* 명소 타이틀 오른쪽영역 */
        width: 30%;
    }
    .arrow_2 {
        /* 명소 화살표버튼 가로영역 */
        width: 42%;
        justify-content: space-evenly;
    }
    .cont_3 .plus_but a {
        width: 30%;
    }
    .cont_3 .right_cont .plus_but {
        width: 50%;
    }
    .right_cont .but {
        width: 20%;
    }
    


    /* cont */
    .cont {
        display: flex;
        justify-content: space-between;
    }
    .in_b span {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    .left_cont {
        width: 55%;
        height: 100%;
    }
    .right_cont {
        width: 35%;
        height: 100%;
    }
    .cont_in_top {
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .cont_tit {
        width: 70%;
        height: 100%;
    }
    .cont_in_bottom {
        width: 100%;
        height: calc(100% - 50px);
        display: flex;
        justify-content: space-between;
    }

    .in_b_move_slide>img {
        display: block;
        /* 이미지들 사이의 기본여백 없애기 */
    }
    .in_b {
        width: 48%;
        height: 100%;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .in_b_move_slide {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        font-size: 0.8vw;
    }
    .left_1 {
        width: 500%;
    }
    .l_box_1 {
        width: calc(100% / 5);
    }
    .l_box_1_2 {
        height: 100%;
        padding: 50px 0px 50px 20px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
    }
    .cont_in_bottom h3 {
        text-align: center;
        margin: 0 auto;
        font-size: 1.2vw;
    }
    .reser_box {
        width: 100%;
        text-align: center;
    }
    .reser_box a {
        display: block;
        width: 80%;
        margin: 0 auto;
        border: 1px solid #333333;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 8px;
        font-weight: 900;
    }
    .reser {
        margin-bottom: 5px;
    }
    .sall_txt {
        font-size: 0.8vw;
    }
    .info {
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: wrap;
    }
    

    
    
    /* 베스트명소 */
    .cont_1_in_r_b .in_b {
        width: 100%;
        height: 50%;
    }
    .cont_1_in_r_b {
        display: block;
    }
    .right_1 {
        width: 1200%;
    }
    .r_box_1 {
        width: calc(100% / 12);
    }
    .r_box_1_2 {
        height: 100%;
        padding: 0 30px 50px 30px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .r_box_1_2 .info {
        text-align: center;
        line-height: 1.5;
        font-size: 0.8vw;
        margin: 0 auto;
    }
    .box_tit img {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    
    

    
    /* 어린이놀이 */
    .cont_2 {
        margin: 100px 0;
    }
    .cont_2 .cont_in_b {
        height: calc(100% - 50px);
    }
    .left_2 {
        width: 1100%;
    }
    .l_box_2 {
        width: calc(100% / 11);
    }
    .l_box_2_2 {
        height: 100%;
        padding: 15px 0 10px 15px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    /* .l_box_2_2 span {
        line-height: 1.2;
    } */

    /* 공방 */
    .bang_in {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
    }
    .gongbang{
        display: block;
        height: 100%;
        width: 30%;
        text-align: center;
    }
    .bang_top>.gongbang {
        border-bottom: 1.5px solid #b3b0b0;
    }
    .gongbang p {
        font-weight: 600;
    }
    .bang {
        width: 40%;
        height: 70%;
        object-fit: contain;
        transition: 0.2s;
    }
    .bang_1~p {
        color: #479e35;
    }
    .bang_2~p {
        color: #2a6dab;
    }
    .bang_3~p {
        color: #444444;
    }
    .bang_4~p {
        color: #ef7c21;
    }
    .bang_5~p {
        color: #edba00;
    }
    .gongbang:hover .bang {
        transform: translateY(-5px);
    }
    .gongbang_reserv {
        width: 30%;
        height: 100%;
    }
    .reserv_border {
        width: 100%;
        height: 100%;
    }
    /* .bang_6 {
        width: 60%;
    } */
    .gongbang_reserv>p {
        height: 100%;
        transition: 0.2s;
        font-size: 1.2vw;
        text-align: center;
    }

    /* cont_3 */
    .cont_in_b>.in_b {
        width: 100%;
        height: 100%;
    }
    .cont_3_in .in_b {
        padding: 5px 15px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        width: 100%;
        height: 100%;
    }
    .cont_3_in .in_b li {
        border-bottom: 1px solid #b3b0b0;
        font-size: 0.75vw;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }
    .cont_3_in .in_b li>a {
        display: block;
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .noti>a {
        width: 70%;
    }
    .cont_3 span {
        width: 20%;
    }
    .cont_3_in .in_b li:hover {
        font-weight: 700;
    }

    /* 팝업 */
    .pop_up_slide {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: 100px 0;
    }
    .pop_move_box {
        width: 500%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .pop_img_box {
        width: calc(100% / 5);
        height: 100%;
        float: left;
    }


    /*팝업 안 버튼 */
    .but_wrap {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 4%;
        height: 10%;
        z-index: 999999;
        display: flex;
        justify-content: space-between;
    }
    .m_but_in {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .m_but {
        position: relative;
        width: 20%;
    }
    .stop_but {
        display: none;
    }

    /* footer */
    .main_footer {
        background: #b3b0b0;
        margin-top: 50px;
        font-size: 0.7vw;
    }
    .footer_inner {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        background: #b3b0b0;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .footer_inner img {
        object-fit: contain;
    }
    .f_top {
        width: 100%;
        height: 20%;
        padding: 5px;
        box-sizing: border-box;
        background: #b3b0b0;
    }
    .footer_menu_wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .footer_menu {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        line-height: 35px;
    }
    .footer_menu>li::after {
        margin-left: 15px;
        content: " | ";
    }
    .footer_menu>li:last-child::after {
        content: "";
    }
    select {
        height: 35px;
        border-radius: 10px;
    }
    .foot_logo {
        width: 200px;
        height: 50px;
        margin-top: 12.5px;
    }
    .f_bot {
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: space-evenly;
    }
    .f_info {
        width: 40%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .f_info>p {
        width: 100%;
    }
    .sns {
        width: 15%;
        display: flex;
        justify-content: space-around;
    }
    .sns>a {
        display: block;
        width: 50px;
        height: 50px;
        margin-top: 12.5px;
    }



    /* map */
    .mo_show {
        display: none;
    }
    .click_m {
        position: fixed;
        top: 5%;
        left: 0;
        width: 15%;
        height: 80px;
        cursor: pointer;
        display: flex;
    }
    .click_m>a {
        display: block;
        width: 80px;
        height: 100%;
    }
    .click_m a>img {
        width: 80px;
        height: 80px;
        float: left;
    }
    .m_txt {
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
    }
    .m_txt img{
        object-fit: contain;
    }
    .txt_t,.txt_b {
        position: absolute;
        bottom: 10px;
        left: 0;
        font-size: 0.9vw;
        font-weight: 600;
    }
    .txt_b {
        bottom: 0;
        height: 30%;
        transition: 0.3s;
    }
    .map_in {
        position: fixed;
        z-index: 999999999;
        top: 10%;
        left: 22.5%;
        width: 55%;
        height: 85%;
        background: #ffffff;
        border: 2px solid #333333;
        box-sizing: border-box;
        padding: 10px;
        box-sizing: border-box;
        display: none;
    }
    .click_m:hover .txt_b {
        width: 120%;
    }
    .map_but {
        width: calc(100% / 6);
        height: 70px;
        padding-top: 15px;
        text-align: center;
        font-weight: 600;
        border: 1px solid #333333;
        box-sizing: border-box;
        cursor: pointer;
        
    }
    .map_but_wrap {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .con_wrap {
        width: 100%;
        height: calc(95% - 70px);
        position: relative;
    }
    .side_map {
        position: absolute;
        top: 0;
        left: 0;
    }
    .close {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 5px;
        left: calc(50% - 15px);
        background: #333333;
        border-radius: 50%;
        color: #ffffff;
        font-weight: 900;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }
    

    /* 오른쪽 */
    .pc_no {
        display: none;
    }
    .quick {
        width: 100px;
        height: 300px;
        position: fixed;
        bottom: 20%;
        right: 1%;
        display: none;
    }
    .quick_view  {
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-radius: 50%;
        overflow: hidden;
        font-weight: 700;
        box-shadow: 0 0 3px #ababab;
        cursor: pointer;
    }
    .call_center {
        margin-bottom: 10px;
    }
    .call_center:hover {
        box-shadow: 0 0 5px #459e38;
    }
    .hiring:hover {
        box-shadow: 0 0 5px #246aa7;
    }
    
    .quick_hide {
        width: 160px;
        height: 0;
        overflow: hidden;
        position: absolute;
        right: calc(1% + 92px);
        font-size: 14px;
        text-align: center;
    }
    .quick_hide>p {
        font-size: 18px;
        font-weight: 700;
    }
    .call_in {
        bottom: 70%;
    }
    .hi_in {
        bottom: 35%;
    }
    .top_baro {
        width: 50px;
        left: 50px;
        padding: 10px;
        box-sizing: border-box;
        position: fixed;
        bottom: 10%;
        left: 95%;
        border-radius: 50%;
        border: 1px solid #333333;
        overflow: hidden;
        cursor: pointer;
        transition: 0.2s;
        display: none;
    }
    .top_baro:hover {
        bottom: 11%;
    }

}

