@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    width: 100%;
    height: 100%;
}
body {
    color: #333;
    font-family: 'Pretendard-Regular';
}

.wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.main_cont {
    width: 100%;
    overflow: hidden;
    background-color: #f8f0ea;
}
.cont {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.page_1 {
    width: 100%;
    height: 100vh;
}


/* 헤더 */
.header {
    width: 100%;
    height: 100px;
    padding: 25px 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 9999;
}
.logo {
    float: left;
}
.wrap_in_box {
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-around;
}
.menu_1 {
    width: 100%;
    display: flex;
}
.in_menu {
    width: 25%;
    font-weight: 600;
    float: left;
    text-align: left;
    margin-top: 15px;
}
.sub_menu {
    display: none;
    margin-top: 20px;
    background: white;
}
.bottom_menu>a {
    display: block;
    width: 100%;
    padding: 15px 5px;
    box-sizing: border-box;
    
    font-weight: 500;
}
.menu_but {
    width: 30px;
    height: 30px;
    margin-top: 15px;
}


/* 배너슬라이드 */
.banner {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
    background: pink;
}
.ba_slide {
    width: 300%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.b_slide {
    width: calc(100% / 3);
    height: 100%;
}
.b1{
    background: url(../img/banner_1.png) no-repeat center/cover;
}
.b2{
    background: tomato;
}
.b3{
    background: tan;
}




/* 디저트cont */
.cont_de {
    position: relative;
}
.cont_tit {
    margin: 0 auto;
    height: 20%;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 4vw;
    /* background: rebeccapurple; */
}
.de_slide_box {
    width: 100%;
    height: 65%;
    position: relative;
}
.but_wrap {
    width: 80%;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: 10%;
}
.but {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.left_but {
    float: left;
}
.right_but {
    float: right;
}
.de_slide {
    width: 60%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 20%;
    overflow: hidden;
    /* background: skyblue; */

}
.de_slide_move {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
}
.de_img_box {
    width: calc(100% / 9);
    height: 100%;
}
.de_img_box img {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
}
.de_img_box img:hover {
    transform: rotateZ(10deg);
}
.de_img_box span,.map_img_wrap span {
    display: block;
    text-align: center;
    height: 20%;
    padding-top: 10PX;
    box-sizing: border-box;
    font-weight: 600;
}
.txt_ani {
    height: 15%;
    /* background: gray; */
    position: relative;
}
.txt {
    height: 50%;
    font-size: 2vw;
    position: absolute;
    width: 200%;
    font-family: 'Hedvig Letters Serif', serif;
    font-weight: 900;
}
.txt_1 {
    top: 0;
    left: 0;
    animation: txt_1_move 30s infinite linear;
}
.txt_2 {
    bottom: 0;
    right: 0;
    text-align: right;
    animation: txt_2_move 30s infinite linear;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #f8f0ea;
}
@keyframes txt_1_move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(50%);
    }
}
@keyframes txt_2_move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
.more {
    position: absolute;
    bottom: 10%;
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #333;
    border-radius: 30px;
    text-align: center;
    font-weight: 700;
    left: calc(50% - 75px);
}



/* 가맹점cont */
.map_img_wrap {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    box-sizing: border-box;
    position: relative;
}
.m_img_box {
    width: 22%;
    height: 60%;
}



/* sns페이지 */
.cont_sns{
    width: 100%;
    position: relative;
}
.outimg_box{
    width: 1700px;
    height: 1700px;
    position: relative;
    left: 50%;
    top:-250px;
    margin-left: -300px;
    animation-name: ro_box;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
.img_box{
    width: 500px;
    height: 500px;
    /* background-color: aqua; */
    position: absolute;
    border-radius: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: ro_box2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
@keyframes ro_box{
    from{
        transform: rotatez(0deg);
    }
    to{
        transform: rotatez(360deg);
    }
}

@keyframes ro_box2{
    from{
        transform: translateX(0px) translateY(0px) rotatez(0deg);
    }
    to{
        transform: translateX(0px) translateY(0px) rotatez(-360deg);
    } 
}
.img_box:nth-child(1){
    top: 600px;
    left: 0;
    background-image: url(../img/hb_twitter.png);
}
.img_box:nth-child(2){
    left: 50%;
    margin-left: -250px;
    top:0;
    background-image: url(../img/hb_instagram.png);
}
.img_box:nth-child(3){
    left: 50%;
    bottom: 0;
    margin-left: -250px;
    background-image: url(../img/hb_youtube.png);
}
.img_box:nth-child(4){
    right: 0;
    top: 600px;
    background-image: url(../img/hb_facebook.png);
}

/* .outimg_box:hover{
    animation-play-state: paused;
}
.outimg_box:hover>.img_box{
    animation-play-state: paused;
} */

.cont_sns_tit {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 40%;
    left: 3%;
}
.sns_tit{
    width: 100%;
    font-size: 4vw;
    margin-bottom: 50px;
}
.icon{
    width: 55px;
    height: 55px;
    margin-right: 10px;
    float: left;
    display: block;
}

.icon:nth-child(1){
    background-image: url(../img/twitter.png);
}
.icon:nth-child(2){
    background-image: url(../img/facebook.png);
}
.icon:nth-child(3){
    background-image: url(../img/instagram.png);
}
.icon:nth-child(4){
    background-image: url(../img/youtube.png);
    margin-right: 0;
}

.icon:nth-child(1):hover{
    background-image: url(../img/h_twitter.png);  
}
.icon:nth-child(2):hover{
    background-image: url(../img/h_facebook.png);
}
.icon:nth-child(3):hover{
    background-image: url(../img/h_instagram.png);
}
.icon:nth-child(4):hover{
    background-image: url(../img/h_youtube.png);
}


/* 푸터 */
.out_footer {
    font-family: 'Pretendard-Regular';
    width: 1920px;
    height: 335px;
    background-color: bisque;
    padding: 30px 300px;
    box-sizing: border-box;
    color: #333;
}
.fo_1 {
    height: 50px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
}
.fo_2 {
    height: 155px;
}
.fo_in_box1 {
    width: 300px;
    margin-left: 300px;
    margin-top: 50px;
    float: left;
}
.fo_in_box1>img {
    width: 100%;
}
.fo_in_box2 {
    width: 550px;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}
.fo_3 {
    height: 70px;
    text-align: center;
}
