@media all and (max-width:859px){
    .mo_wrap {
        overflow: hidden;
    }
    .in_width {
        width: 100%;
    }
    .inner {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }
    .in_border {
        border-radius: 10px;
        box-sizing: border-box;
        border: 1px solid #eeeeee;
    }
    .in_contain {
        object-fit: contain;
    }
    .tit {
        font-size: 3vw;
        margin-bottom: 20px;
    }
    .cont {
        margin-bottom: 50px;
        padding: 25px 20px;
        box-sizing: border-box;
    }

    /* 헤더 */
    .main_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;
        z-index: 99999999;
        margin-bottom: 70px;
    }
    .main_logo {
        width: 35%;
        height: 100%;
        margin: 0 auto;
    }
    .menu_wrap {
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .mo_menu {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mo_menu>span {
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background: #333333;
    }
    .mo_hide_top {
        width: 100%;
        height: 5%;
    }
    .mo_hide_menu {
        position: absolute;
        width: 0;
        box-sizing: border-box;
        overflow: hidden;
        transition: 0.5s;
        background: #ffffff;
    }
    .mo_menu_close {
        width: 10%;
        height: 100%;
        position: relative;
        float: left;
    }
    .mo_hide_menu .top_s {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .mo_hide_menu .bottom_s {
        position: absolute;
        top: 50%;
        transform: translateY(50%) rotate(-45deg);
    }
    
    .main_menu {
        height: 95%;
        padding-top: 20px;
        box-sizing: border-box;
        position: relative;
    }
    .mo_top_menu {
        width: 40%;
        height:13%;
        background: #e0e0e0;
    }
    
    .mo_top_menu {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        font-size: 3.2vw;
        font-weight: 700;
        cursor: pointer;
    }
    .mo_bottom_menu {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mo_bottom_menu>a {
        display: block;
        width: 100%;
        font-size: 3vw;
    }
    .mo_sub_menu {
        position: absolute;
        top: 20px;
        left: 45%;
        width: 50%;
        height: 91vh;
        background: #ffffff; 
        overflow-y: scroll;
    }
    .mo_bottom_menu:hover {
        font-size: 1vw;
        font-weight: 900;
    }
    .spot_wrap {
        height: 100%;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .spot_menu {
        display: flex;
        height: 40%;
        flex-wrap: wrap;
        align-items: center;
    }
    .spot_menu>a {
        display: block;
        font-size: 2.5vw;
    }
    .spot_menu>span {
        margin: 0 10px;
    }




    /* 컨텐츠 */
    .content {
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
    }

    
    .cont_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cont_tit {
        width: 100%;
        font-size: 3.5vw;
        font-weight: 900;
        letter-spacing: 2px;
    }

    /* cont_1 배너 */
    .cont_1 {
        margin-bottom: 50px;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }

    /* cont_2 지사찾기 */
    .apart_top {
        height: 100%;
        background: url(../img/apart.png) no-repeat right bottom /contain;
        background-size: 25%;
        position: relative;
    }
    .arrow_wrap {
        width: 60%;
        height: 35%;
        position: absolute;
        left: 5%;
        bottom: 10%;
    }
    .apart_arrow {
        width: 40%;
    }
    .arrow_click {
        font-size: 3.5vw;
        font-weight: 700;
        vertical-align: top;
        animation: text_color 1s linear infinite;
    }
    
    @keyframes text_color {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    

    
    /* cont_3 고객센터 */
    .call_in {
        width: 100%;
        height: 100%;
        background: url(../img/callcenter.png) no-repeat right top/contain;
        background-size: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .call_num {
        font-size: 5vw;
        font-weight: 900;
        margin-left: 20%;
    }
    .call_info>span {
        font-size: 2vw;
    }


    /* cont_4 퀵메뉴 */
    .q_menu {
        display: block;
        width: 30%;
        text-align: center;
        font-size: 2.5vw;
        border-radius: 5px;
    }
    .quick_in {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .quick {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .q_menu>span {
        display: block;
    }
    .quick_icon {
        width: 80%;
        height: 65%;
        margin: 0 auto;
    }
    .q_menu>span {
        display: block;
    }
    .q_menu:hover {
        box-shadow: 2px 2px 4px #99cc33;
    }
    .quick_top {
        border-top: 1px solid #eeeeee;
        box-sizing: border-box;
    }
    .quick_last {
        border-bottom: 1px solid #eeeeee;
        box-sizing: border-box;
    }

    /* cont_5,6 예비입주자 */
    .cont_5_in,.cont_6_in,.cont_7_in {
        height: 100%;
    }
    .in_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .in_top>.tit {
        margin-bottom: 0;
    }
    .plus_but {
        width: 4%;
    }
    .plus_but img {
        transition: 0.5s;
    }
    .plus_but:hover img {
        transform: rotateZ(180deg);
    }
    .in_top>.tit {
        width: 50%;
    }
    .in_bottom {
        height: 80%;
    }
    .noti {
        height: 25%;
        font-size: 2.5vw;
        padding: 10px;
        box-sizing: border-box;
    }
    .noti>a {
        display: block;
        width: 70%;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .noti>span {
        display: block;
        width: 25%;
        text-align: end;
        float: right;
    }
    .noti:hover {
        font-weight: 700;
    }
    

    /* cont_7,8 채용정보,뉴스 */
    .recruit_bottom {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }
    .cont_7 {
        background: url(../img/recruit.png) no-repeat 100%/cover;
    }
    .baro_go>a {
        display: block;
        width: 50%;
        padding: 5px 10px;
        box-sizing: border-box;
        border-radius: 20px;
        background: #ffffff;
        text-align: center;
        transition: 0.3s;
        font-size: 2.5vw;
    }
    .baro_go>a:hover {
        background: #666666;
        color: #ffffff;
    }
    .recruit_right {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .recruit_right>p {
        font-size: 2.5vw;
        font-weight: 500;
        line-height: 1.4;
    }
    .cont_8 {
        margin-bottom: 50px;
    }
    .cont_8_in {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .news_left {
        padding: 25px 20px;
        box-sizing: border-box;
        width: 40%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .news_left>p {
        font-size: 2.5vw;
        line-height: 1.4;
    }
    .news_left>span {
        font-size: 2vw;
    }
    .news_right {
        width: 55%;
        height: 100%;
    }
    .news_top {
        display: flex;
        justify-content: space-between;
    }
    .news_top .tit {
        width: 40%;
        margin-bottom: 0;
    }
    .news_top .plus_but {
        width: 10%;
    }
    
    
    
    /* 마을이야기,사회공헌 */
    .side_box {
        display: flex;
        justify-content: space-between;
        z-index: 9999;
        margin-bottom: 70px;
    }
    .side {
        width: 45%;
        padding: 20px;
        background: #ffffff;
    }
    .side .tit {
        margin-bottom: 0;
    }
    .side p {
        font-size: 2vw;
        line-height: 1.5;
    }
    .side_2 {
        position: relative;
    }
    .story {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40%;
        height: 50%;
    }
    .side_2 p {
        margin-top: 20%;
    }
    .side_3 {
        background: url(../img/side_3_bg.png) no-repeat center/cover;
        border: none;
        padding: 5px 20px 20px 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .side_3>img {
        width: 50%;
        height: 30%;
        margin: 0 auto;
    }
    

    /* footer */
    .main_footer {
        background: #666666;
        font-size: 1.5vw;
        color: #ffffff;
    }
    .main_footer a {
        color: #ffffff;
    }
    .footer_inner {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        background: #666666;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        box-sizing: border-box;
    }
    .footer_inner img {
        object-fit: contain;
    }
    .f_top {
        width: 100%;
        height: 20%;
        padding: 5px;
        box-sizing: border-box;
        background: #666666;
    }
    .foot_logo {
        width: 30%;
        margin-right: 50px;
    }
    .f_info {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .f_info>p {
        width: 100%;
    }

    
}