@media all and (min-width:1200px){
    /* body {
        background: pink;
    } 연결확인용 */

    .wrap {
        overflow: hidden;
        position: relative;
        /* position: fixed; */
    }
    
    

/* 헤더 */
    .tab_header {
        display: none;
    }
    .main_header {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99999;
    }
    .header_in{
        position: relative;
    }
    .header_logo{
        width: 130px;
        object-fit: cover;
        float: left;
        padding-left: 30px;
        padding-top: 30px;
        box-sizing: border-box;
    }
    .header_logo>a {
        display: block;
    }
    .header_menu_wrap{
        width: 600px;
        height: 100px;
        float: right;
    }
    .top_menu_wrap{
        font-weight: bold;
    }
    .top_menu{
        float: left;
        width: 200px;
        height: 100px;
        text-align: center;
        transition-duration: 0.5s;
        line-height: 100px;
        color: #ffffff;
    }
    .bottom_menu_wrap{
        width: 100%;
        height: 0; 
        overflow: hidden;
        transition-duration: 0.5s;
    }
    .bottom_menu {
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-weight: lighter;
        font-size: 14px;
    }
    .bottom_menu>a{
        color: #fff;
    }
    .bottom_menu:hover{
        background: rgb(46, 29, 15);
    }
    .top_menu_wrap:hover .bottom_menu_wrap{
        height: 390px;
        background: rgba(76, 48, 24, 0.3);
    }
    .bottom_menu:hover .bottom_menu>a{
        opacity: 100%;
    }
    .top_menu:hover{
        color: black;
        background: rgba(250, 159, 84, 0.3);
        border-bottom: 1px solid #333;
        box-sizing: border-box;
    }
    
    

/* 배너 */
    .main_banner {
        margin: 0 auto;
        position: relative;
        z-index: 999;
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* 컨텐츠영역 */
    .content {
        position: relative;
        overflow: hidden;
    }
    /* .cont_wrap {
        position: absolute;
        top: 0;
        left: 0;
    } */
    /* .content,.cont_wrap {
        width: 1920px;
        height: 4020px;
        margin: 0 auto;
    } */
    .cont {
        /* width: 100%;
        height: 1080px; */
        overflow: hidden;
        position: relative;
        background: #ffffff;
        box-sizing: border-box;
    }
    .map_bg {
        /* width: 1920px;
        height: 1080px; */
        position: fixed;
        bottom: 0;
        left: 0;
        overflow: hidden;
        background: url(../img/map_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        transition-duration: 0.5s;
    }

/* cont_plus */
    .cont_plus {
        padding: 5% 10%;
    }
    .cont_plus_in {
        width: 100%;
        height: 100%;
        display: none;
    }
    .cont_plus_title {
        font-size: 3vw;
        text-align: center;
    }
    .brand_img{
        width: 90%;
        height: 40%;
        margin:100px;
    }
    .cont_plus_text {
        width: 100%;
        height: 30%;
        text-align: center;
        /* display: none; */
        /* background: pink; */
    }
    .cont_plus_text>h3 {
        font-size: 2vw;
    }
    .cont_plus_t{
        margin-bottom: 10px;
        font-size: 1.2vw;
        font-weight: 500;
    }
    
/* cont_1 */
    .cont_1 {
        position: relative;
        /* background: pink; */
    }
    .cont_1_title {
        position: absolute;
        top: 10%;
        right: -100%;
        height: 20%;
        text-align: right;
        /* line-height: 100px; */
    }
    .cont_1_title>span {
        font-size: 1.3vw;
    }
    .cont_1_title>.big_t {
        color: #333;
        font-size: 3vw;
    }
    
    .cont_1_con {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        /* background: mediumpurple; */
    }
    .but_box {
        width: 100%;
        height: 40px;
        position: absolute;
        top: 60%;
        left: 0;
        padding: 0 7%;
        box-sizing: border-box;
        z-index: 9999;
    }
    .right {
        width: 40px;
        height: 50px; 
        opacity: 0.5;
        cursor: pointer;
    }
    /* .left {
        float: left;
    } */
    .right {
        float: right;
    }
    .slide_box {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .slide {
        /* width: 910px; */
        height: 100%;
        float: left;
        /* margin-top: 30px; */
        position: relative;
        /* background: teal; */
    }
    .slide_text{
        /* width: 430px; */
        /* width: 80%; */
        /* height: 620px; */
        /* height: 50%; */
        /* color: #ffffff; */
        /* width: 50%;
        height: 50%; */
        opacity: 0;
        transition-duration: 0.3s;
        position: absolute;
        bottom: 5%;
        right: 5%;
        /* padding-top: 45%; */
        padding: 2%;
        background: #fffefe9c;
        box-sizing: border-box;
        
    }
    .slide_tit {
        /* text-align: right; */
        font-size: 2.5vw;
        font-weight: 900;
        /* margin-top: 100px;
        margin-right: 30px; */
    }
    .t_p {
        /* text-align: right; */
        margin: 15px 0;
        font-size: 2vw;
        font-weight: 700;
        /* margin-right: 30px; */
    }
    .b_p {
        /* text-align: right; */
        font-size: 1.3vw;
        /* margin-right: 30px; */
    }
    .slide_img {
        /* width: 300px; */
        width: 48%;
        /* height: 400px; */
        height: 49.01%;
        /* margin-top: 90px; */
        /* float: right; */
        transition-duration: 0.3s;
        position: absolute;
        bottom: 20px;
        left: 10%;
        opacity: 0.5;
    }
    .slide_img>a {
        display: block;
        width: 100%;
        height: 100%;
    }
    /* addClass 2개 */
    .op {
        opacity: 1;
        transition-duration: 0.3s;
    }
    .side {
        left: 20%;
    }
    .big {
        width:80%;
        /* height:700px; */
        height: 90%;
        transition-duration: 0.3s;
    }



/* cont_2 */
    .fix {
        width: 100%;
        height: 20%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .cont_2_con {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .cont_2_text {
        width: 70%;
        height: 120px;
        position: absolute;
        top: 22%;
        left: 5%;
        display: none;
    }
    .cont_2_text>h2 {
        font-size: 2vw;
        margin-bottom: 20px;
    }
    .cont_2_text>p {
        font-size: 1.3vw;
    }
    .t50 ,.t50_1{
        width: 50%;
        height: 100%;
        position: absolute;
    }
    .t50 {
        top: -25%;
    }
    .t50_1 {
        left: 50%;
        top: 25%;
        /* background: #70707054; */
    }
    .func_text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    .text_wrap {
        width: 38%;
        height: 35%;
        position: absolute;
        right: 0;
        bottom: 5%;
    }
    .text_wrap>h2 {
        font-size: 2vw;
        margin-bottom: 20px;
    }
    .text_wrap>p {
        font-size: 1.3vw;
    }
    .won {
        width: 150px;
        height: 150px;
        animation: round;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        position: absolute;
        top: 20%;
        right: 8%;
    }
    .logo_text {
        width: 150px;
        height: 150px;
        text-align: center;
        line-height: 150px;
        font-size: 2.2vw;
        font-weight: 700;
        position: absolute;
        top: 20%;
        right: 8%;
    }
    
    @keyframes round {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }


/* con_3 */
    .move_box {
        width: 13000px;
        height: 15.62%;
        display: flex;
        padding-top: 8%;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        animation-name: auto;
        animation-duration: 80s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .move_box li {
        float: left;
        margin-right: 20px;
    }
    .left_move,.right_move {
        width: 6500px;
        font-size: 180px;
        font-weight: 900;
        color: #FFFFFF;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .left_move{
        margin-right: 30px;
    }
    iframe {
        width: 30%;
        height: 100%;
    }
    .iframe_box {
        width: 100%;
        height: 15vw;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 45%;
        left: 0;
    }
    
    
    @keyframes auto{
        0%{
            transform: translateX(0);}
        100% {
            transform: translateX(-50%);
        }
    }

/* cont_4 */
    .cont_4 {
        background: #fff;
        
    }
    .cont_4_mo_hide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .cont_4_hide {
        width: 50%;
        height: 100%;
        position: relative;
    }
    .cont_4_in {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 25%;
        left: 10%;
        display: none;
    }
    .cont_4_img {
        width: 50%;
        height: 100%;
        /* display: none; */
    }
    .cont_4_in>p {
        font-size: 1.5vw;
        line-height: 1.7;
    }
    .cont_4_b_p {
        font-weight: 700;
    }
    .cont_4_in>h3 {
        font-size: 3vw;
        margin-top: 40px;
    }
    .bottom_1, .bottom_2 {
        margin-top: 70px;
        float: left;
        margin-right: 2%;
        padding: 2%;
        border: 1px solid #333;
        border-radius: 15px;
        /* box-sizing: border-box; */
    }
    



/* cont_5 */
    .cont_5 {
        position: relative;
    }
    .cont_5_con {
        position: absolute;
        width: 10%;
        height: 5%;
        top: 47%;
        left: 50%;
        margin-left: -2.5%;
    }
    .cont_5_con>a {
        display: block;
    }

/* 푸터 */
    .tab_footer {
        display: none;
    }
    .main_footer {
        background: rgb(150, 150, 150);
        position: relative;
        font-size: 14px;
    }
    .main_footer>.inner_align {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .footer_logo {
        width: 20%;
        height: 100%;
    }
    .footer_logo>a {
        display: block;
        width: 50px;
        float: right;
        margin-top: 12%;
        margin-right: 50px;
        
    }
    .footer_right {
        width: 60%;
        height: 100%;
        padding:30px 0;
        box-sizing: border-box;
    }
    .in_footer {
        width: 100%;
    }
    .footer_top{
        width: 70%;
        height: 16%;
        display: flex;
        justify-content: space-between;
    }
    .footer_middle{
        width: 100%;
        height: 60%;
    }
    .footer_text{
        width: 100%;
        height: 100%;
        
    }
    .footer_text>li {
        float: left;
        margin-right: 30px;
        line-height: 30px;
    }
    




    







    
    






















}